<div class="row">
    <div class="col-6">
        <h2 class="witei-color-text">Crear tarea</h2>
        <form [formGroup]="task" (ngSubmit)="createTask()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="contact">Contacto:</label>
                    <input type="text" formControlName="contact" class="form-control" id="contact"
                        placeholder="Contacto">
                </div>
                <div class="form-group col-md-6">
                    <label for="kind">Tipo: *</label>
                    <input type="number" formControlName="kind" class="form-control" id="kind" placeholder="Tipo">
                    <div *ngIf="submitted && task.controls.kind.errors" class="text-danger">
                        <div *ngIf="task.controls.kind.errors.required">Por favor, introduce Tipo</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="due">Fecha: *</label>
                    <input type="text" formControlName="due" class="form-control" id="due" placeholder="Fecha" required>
                    <div *ngIf="submitted && task.controls.due.errors" class="text-danger">
                        <div *ngIf="task.controls.due.errors.required">Por favor, introduce Fecha</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="house">Propiedad</label>
                    <input type="string" formControlName="house" class="form-control" id="house"
                        placeholder="Propiedad">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="owner">Propietario</label>
                    <input type="text" formControlName="owner" class="form-control" id="owner"
                        placeholder="Propietario">
                </div>
                <div class="form-group col-md-6">
                    <label for="worker">Trabajador</label>
                    <input type="text" formControlName="worker" class="form-control" id="worker"
                        placeholder="Trabajador">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="details">Detalles</label>
                    <input type="text" formControlName="details" class="form-control" id="details"
                        placeholder="Detalles">
                </div>
                <div class="form-group col-md-6">
                    <label for="done">Completado</label>
                    <select id="done" formControlName="done" class="form-control">
                        <option *ngFor="let status of doneStatus" [ngValue]="status.value">{{status.title}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn witei-color-btn">Crear nueva tarea</button>
            </div>
        </form>
    </div>
</div>